node_modules/

*

!index.js

!app/
!app/index.js
!app/statemachine.js
!app/playqueue.js
!app/configManager.js
!app/musiclibrary.js
!app/platformSpecific.js
!app/playlistManager.js
!app/pluginContext.js
!app/pluginmanager.js
!app/randomqueue.js
!app/setupWirelessNetwork.js
!app/volumecontrol.js

!app/i18n/
!app/i18n/strings_en.json
!app/i18n/strings_ru.json

!app/plugins/

!app/plugins/audio_interface/
!app/plugins/audio_interface/alsa_controller/
!app/plugins/audio_interface/alsa_controller/index.js

!app/plugins/miscellanea
!app/plugins/miscellanea/appearance/
!app/plugins/miscellanea/appearance/index.js

!app/plugins/music_service/
!app/plugins/music_service/mpd/
!app/plugins/music_service/mpd/index.js

!app/plugins/system_controller/
!app/plugins/system_controller/volumio_command_line_client/
!app/plugins/system_controller/volumio_command_line_client/volumio.sh
!app/plugins/system_controller/system/
!app/plugins/system_controller/system/UIConfig.json
!app/plugins/system_controller/system/index.js

!app/plugins/user_interface/
!app/plugins/user_interface/rest_api/
!app/plugins/user_interface/rest_api/playback.js
!app/plugins/user_interface/websocket/
!app/plugins/user_interface/websocket/index.js

!http/
!http/index.js
!http/dev/
!http/dev/dev.js
